@using FacturaApp.Models.ViewModel
@model List<ClienteDetalleViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Nueva Venta", "Registrar", "Factura", new { @class="button is-primary"})

<table class="table is-bordered">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Total</th>
            <th>Creado</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
            <th>@Html.ActionLink(item.Cliente, "DetalleCliente", new { id = item.IDFactura })</th>
            <td>@item.Total</td>
            <td>@item.Fecha.ToString("dd-MM-yyyy")</td>
        </tr>

      }
        
    </tbody>
</table>